$mint: #10D48E;
$charcoal: #2e4052ff;
$jasmine: #fcd581ff;
$bittersweet: #fa7e61ff;
$celadon: #9ae19dff;

$gradient-top: linear-gradient(90deg, #62a87cff, #2e4052ff);
$gradient-right: linear-gradient(90deg, #62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
$gradient-bottom: linear-gradient(180deg, #62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
$gradient-left: linear-gradient(270deg, #62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
$gradient-top-right: linear-gradient(45deg, #62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
$gradient-bottom-right: linear-gradient(135deg, #62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
$gradient-top-left: linear-gradient(225deg, #62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
$gradient-bottom-left: linear-gradient(315deg, #62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
$gradient-radial: radial-gradient(#62a87cff, #2e4052ff, #fcd581ff, #fa7e61ff, #9ae19dff);
