<div class="container">
  <h1>CAR DETAILS</h1>
  <form class="form" [formGroup]="vehicleForm" *ngIf="vehicleForm">
    <div class="input-group">
      <div>
        <label for="">Name</label>
        <input type="text" formControlName="name">
      </div>
      <div>
        <label for="">Manufacturer</label>
        <input type="text" formControlName="manufacturer">
      </div>
      <div>
        <label for="">KM driven</label>
        <input type="text" formControlName="kmDriven">
      </div>
      <div>
        <label for="">Price per day</label>
        <input type="text" formControlName="pricePerDay">
      </div>
      <div>
        <label for="">Image</label>
        <input type="text" formControlName="imageUrl">
      </div>
      <div>
        <label for="">Type</label>
        <select formControlName="vehicleTypeId">
          <option *ngFor="let type of types" [ngValue]="type.id">
            {{type.typeName}}
          </option>
        </select>
      </div>
      <div>
        <label for="">Location</label>
        <select formControlName="locationId">
          <option *ngFor="let loc of locations" value="{{loc.id}}">
            {{loc.address}}
          </option>
        </select>
      </div>
    </div>
    <div class="btns">
      <button (click)="patchVehicle()" type="submit">Save</button>
      <button class="delete" type="button" (click)="deleteVehicle()">Delete</button>
    </div>
  </form>

  <table cellspacing="0">
    <thead>
      <th>From</th>
      <th>To</th>
      <th>KM driven</th>
      <th>Active</th>
      <th>Contract</th>
      <th></th>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals">
        <td>{{ rental.timeFrom ? rental.timeFrom : "-" }}</td>
        <td>{{ rental.timeTo ? rental.timeTo : "-" }}</td>
        <td>{{ rental.kmDriven ? rental.kmDriven : "-" }}</td>
        <td>{{ rental.active ? rental.active : "-" }}</td>
        <td>{{ rental.contractId ? rental.contractId : "-" }}</td>
        <td>
          <div class="btns">
            <button type="button" (click)="openModal(rental)">Edit</button>
            <button class="delete" type="button">Delete</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-modal [isActive]="modalActive" actionButtonTitle="Save" (close)="closeModal()"
(action)="updateRental()">
  <h1>Edit rental</h1>
  <form *ngIf="rentalForm" [formGroup]="rentalForm">
    <div class="input-group" style="text-align: left; padding: 1rem 0;">
      <div>
        <label for="">From</label>
        <input type="datetime-local" formControlName="timeFrom">
      </div>
      <div>
        <label for="">To</label>
        <input type="datetime-local" formControlName="timeTo">
      </div>
      <div>
        <label for="">KM driven</label>
        <input type="text" formControlName="kmDriven">
      </div>
      <div>
        <label for="">Active</label>
        <select formControlName="active">
          <option value="{{true}}">TRUE</option>
          <option value="{{false}}">FALSE</option>
        </select>
      </div>
      <!-- <div>
        <label for="">Contract</label>
        <input type="text" formControlName="">
      </div> -->
    </div>
  </form>
</app-modal>
