@import "../../assets/style_guide.scss";

.container {
  display: flex;
  padding: 3rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      border-radius: 50%;
    }
  }
}

button.add {
  position: fixed;
  bottom: 65px;
	right: 40px;
  width: 150px;

  &:last-of-type {
    background: linear-gradient(to right, $charcoal 50%, $bittersweet 50%);
    bottom: 20px;
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .35s ease-out;

    &:hover {
      background-position: left bottom;
    }
  }
}

.rental {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 1rem 0;
  margin-bottom: 1rem;

  span {
    font-size: large;
  }
}
