.container {
  display: flex;
  padding: 3rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 2rem;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 45px;
      border-radius: 50%;
    }
  }
}
