@import "../../../assets/style_guide.scss";

.dropdown {
  display: block;
  position: absolute;
  right: 20px;
  top: 80px;
  background-color: $charcoal;
  color: white;
  z-index: 100;
  padding: 1rem;
  border-radius: 7px;
  width: 350px;
  height: 500px;
  overflow-y: scroll;
}

small {
  margin-bottom: 5px;
  color: $mint;
}

div.notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  padding-top: 15px;

  &:first-of-type {
    padding-top: 0px;
  }

  div {
    inline-size: 200px;
    overflow-wrap: break-word;
  }
}

div.buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  button {
    background: $mint;
    display: flex;
    align-items: center;

    &.del {
      background: $bittersweet;
      margin-left: 5px;
    }
  }
}
