@import "../../assets/style_guide.scss";

input {
  width: 1040px;
  border-radius: 20px;
  border: 1px solid #e8e8e8;
  font-size: large;

  padding: 0.6rem 2rem;
  background: url("../../assets/search.svg") no-repeat scroll 1080px 10.5px;
  padding-right: 55px;

  &:focus {
    outline: none;
    border: 1px solid $mint;
  }

  &::placeholder {
    color: #acabab;
  }
}
