@import "../../assets/style_guide.scss";

div.container {
  width: 100%;
  height: 94%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 60%;
  margin-top: 4rem;
  border: 1px solid $charcoal;

  thead {
    color: white;
    background-color: $charcoal;
    border-collapse: collapse;

    th {
      padding: 0.5rem 1rem;
    }
  }

  td {
    padding: 0.5rem;
    text-align: center;

    .btns {
      justify-content: flex-start;
      gap: 5px;
      padding: 0;

      button {
        background-color: $jasmine;

        &.delete {
          background: $bittersweet;
        }
      }
    }
  }
}

div.btns {
  display: flex;
  gap: 15px;
  padding: 1rem;

  button {
    background: $mint;

    &.delete {
      background: $bittersweet;
    }
  }
}

div.input-group {
  width: 100%;
  background-color: white;
  margin-top: 1rem;
  border-radius: 7px;
  padding: 3rem 5rem;
  display: grid;
  row-gap: 3rem;
  text-align: center;
  grid-template-columns: auto auto auto;

  div {
    label {
      font-weight: bold;
      display: block;
    }

    input, select {
      border-radius: 7px;
      width: 260px;
    }
  }

  div.curicev_textarea {
    grid-row-start: 1;
    grid-row-end: 3;

    textarea {
      resize: none;
      border-radius: 7px;
    }
  }

  div.radio {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1.25rem;
  }

}
